node_modules
/test-results/
/playwright-report/
/test-results/
/playwright/.cache/
/vendor/bin/
/vendor/dealerdirect/
/vendor/phpcompatibility/
/vendor/phpcsstandards/
/vendor/squizlabs/
/vendor/wp-coding-standards/
**.code-workspace
**.vscode
.DS_Store
.idea